{% extends "base.html" %}
{% block title %}Get a Quote{% endblock %}
{% block content %}


<h2 class="q-head text-center">Request a Quote</h2>
<form method="post" enctype="multipart/form-data" novalidate class="quote-form p-4 rounded shadow-sm mx-auto">
  {% csrf_token %}

  <div class="mb-3">
    {{ form.name.label_tag }}
    {{ form.name }}
  </div>

  <div class="mb-3">
    {{ form.email.label_tag }}
    {{ form.email }}
  </div>

  <div class="mb-3">
    {{ form.phone.label_tag }}
    {{ form.phone }}
  </div>

  <div class="mb-3">
    {{ form.service.label_tag }}
    {{ form.service }}
  </div>

  <div class="mb-3">
    {{ form.description.label_tag }}
    {{ form.description }}
  </div>

  <div class="mb-3">
    {{ form.image.label_tag }}
    {{ form.image }}
  </div>

  <button class="btn btn-primary btn-cta w-100 mt-3" type="submit">Send Quote Request</button>
</form>
{% endblock %}
